<%-include('include/_header')%>
    <div class="home-container">
        <div class="home-blogs-container">
            <div class="blog-container-heading">
                <h1>Welcome to TheBlogNation</h1>
                <p>Read, Write & Enjoy The Blogs!</p>
            </div>
            <div class="home-blog-start-heading">
                <h1>Blogs!</h1>
            </div>
            <div class="blogs-wrapper">
                <div class="blog-box-style">
                    <a class="blog-box-link" href="/view-blog">

                    <div class="blog-box-image">

                    </div>
                    <div class="blog-box-heading">
                        <h1>Blog Name!</h1>
                    </div>
                    <div class="blog-box-desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, temporibus hic necessitatibus itaque repellendus ducimus quae recusandae consequuntur cumque, nisi at totam expedita architecto dolores autem nobis. Reiciendis, doloremque ullam.
                        </p>
                    </div>
                    </a>
        
                    <div class="box-buttons">
                        
                    <a href="#" class="box-btn-link">
                        <span class="box-btn"><i class="fas fa-edit fa-lg"></i></span>
                    </a>

                    <a href="#" class="box-btn-link">
                        <span class="box-btn"><i class="fas fa-trash-alt fa-lg"></i></span>
                    </a>
                        
                        
                    </div>
                </div>

                <div class="blog-box-style">
                        
                </div>

                <div class="blog-box-style">
                        
                </div>

                <div class="blog-box-style">
                        
                </div>

                <div class="blog-box-style">
                        
                </div>

                <div class="blog-box-style">
                        
                </div>
            
            </div>
        </div>
    </div>
<%-include('include/_footer')%>

    