<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<div class="new_blog_container">
    <div class="form-container">
        <form action="/api/blog" enctype="multipart/form-data" method="post" id="add-blog">
            <%- include('include/_form')%>
        </form>
    </div>
</div>
<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->