<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<div class="new_blog_container">
    <%- include('include/_form')%>
</div>
<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->