<%- include('include/_header') %>

    <div class="user-signup">
        <div class="signup-form">
            <div class="signup-heading">
                <h1>SignUp</h1>
            </div>
            <form action="/api/user" method="post" class="signup-data">

                Enter your First Name <input type="text" name="firstname" id="" placeholder="first name">
                Enter your Last Name <input type="text" name="lastname" id="" placeholder="last name">
                Enter Email(Username) <input type="email" name="email" id="" placeholder="username">
                Enter your Password <input type="password" name="password" id="" placeholder="password">
                <input type="submit" value="Submit" class="signupbtn">
            </form>
        </div>
       
    </div>
