<!-- Header -->
<%- include('include/_header')%>
<!-- /Header -->

<div class="view-blog-container">
    <div class="view-blog-wrapper">
        <div class="view-blog-heading">
            <h1>Blog Name!</h1>
        </div>

        <div class="view-blog-image">

        </div>

        <div class="view-blog-content">
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis odio, perspiciatis ipsam ipsa sunt, iste, delectus magni et impedit eius numquam. Id fuga, veniam in molestiae rem ullam tempore obcaecati beatae, exercitationem quaerat quae ipsum! Maiores doloribus animi aliquam aperiam fugiat ut velit inventore deleniti. Maxime reiciendis minus eveniet reprehenderit! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, quidem. Obcaecati, provident perferendis error alias et earum. Asperiores libero minus possimus nam consequuntur qui recusandae non corporis, enim delectus minima esse eligendi doloribus beatae error incidunt aspernatur praesentium nihil ipsam quibusdam autem sunt mollitia neque ea? Aspernatur distinctio rerum minima modi enim, optio aperiam ratione esse sapiente aliquam iusto deserunt alias earum excepturi porro ducimus eligendi repudiandae harum sint beatae doloribus! Vitae iusto, ducimus itaque nesciunt accusamus odit laudantium, aperiam aliquam reiciendis beatae placeat rem. Quod numquam debitis laboriosam nihil! Aliquam facilis illum tempore consequuntur molestias. Eveniet sunt modi velit.</p>
        </div>
    </div>
</div>


<!-- Footer -->
<%- include('include/_footer')%>
<!-- /Footer -->